@import "src/assets/style/variable.scss";

.row {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-width: 3px 0;
  border-style: solid;
  box-sizing: border-box;
  margin: 15px 0;
  box-shadow: 0px 0px 2px gray;
  transition: all 0.1s linear;

  &:hover {
    box-shadow: 0px 0px 4px gray;
    .label {
      border-left-width: 10px;
      box-shadow: 0 0 30px silver;
    }
  }

  .label {
    position: sticky;
    left: 0;
    height: 100%;
    background: white;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    box-shadow: 0 0 10px silver;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    transition: all 0.1s linear;
    text-shadow: 1px 1px 2px gray;
  }
}
.border-class0 {
  border-color: $yellow;
}

.border-class1 {
  border-color: $green;
}

.border-class2 {
  border-color: $blue;
}

.border-class3 {
  border-color: $pink;
}

.border-class4 {
  border-color: $aqua;
}
