<div [ngClass]="'row '+borderClass" [style.height]="height"
  [style.width]="settingsService.totalDays  * 86400 * settingsService.secondToPixelRatio+'px'">

  <div class="label">
    {{row.title}}
  </div>

  <app-card *ngFor="let card of cards; let i = index" [card]="card" [row]="row" [index]="i">
  </app-card>
</div>
