$blue: rgb(74, 61, 255);
$pink: rgb(214, 1, 125);
$aqua: rgb(6, 151, 161);
$green: rgb(22, 163, 69);
$yellow: rgb(252, 194, 5);

$blue-alpha: rgba(74, 61, 255, 0.65);
$pink-alpha: rgba(214, 1, 125, 0.65);
$aqua-alpha: rgba(6, 151, 161, 0.65);
$green-alpha: rgba(22, 163, 69, 0.65);
$yellow-alpha: rgba(252, 194, 5, 0.65);
