<div *ngIf="card.visible && card.labels?.indexOf(row.title)!==-1" [ngClass]="'card '+bgClass+' '+class"
  [style.width]="card.width * settingsService.secondToPixelRatio + 'px'" cdkDrag cdkDragBoundary=".row"
  [style.left]="card.left  * settingsService.secondToPixelRatio + 'px'" [style.top]="top" (click)="openDialog()"
  [matTooltip]="'Estimation: '+card.estimationText! + ' - Due date: '+card.dueDateText" [matTooltipPosition]="'above'"
  (cdkDragEnded)="dropped($event)">

  <mat-icon class="move-handler" cdkDragHandle (click)="$event.stopPropagation()" (mouseup)="$event.stopPropagation()">
    open_with</mat-icon>

  <div class="card-type">
    <img *ngIf="card.issuetype" [src]="card.issuetype?.iconUrl">
    <b> Key: </b>{{card.key}}
  </div>

  <div class="summary"><b>Summary: </b>{{card.summary}}</div>

  <div class="labels">
    <b>Labels: </b>
    <span *ngFor="let label of card.labels">
      {{label}},
    </span>
  </div>

  <div class="estimation">
    <b>{{card.estimationText}}</b>
  </div>

  <img class="creator" [src]="card.creator.avatarUrls['48x48']" [matTooltip]="card.creator.displayName">

  <div class="duedate">
    <b>Due Date: </b>{{card.dueDateText}}
  </div>

</div>
