@import "src/assets/style/variable.scss";

.card {
  box-sizing: border-box;
  position: absolute;
  height: 33%;
  cursor: default;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 3px;
  transition: all 0.15s ease-in;
  overflow: hidden;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  box-shadow: 1px 1px 3px gray;

  &:hover {
    z-index: 100;
  }

  .move-handler {
    top: 5px;
    left: 5px;
    cursor: move;
  }

  .card-type {
    top: 5px;
    left: 35px;
  }

  .summary {
    bottom: 5px;
    left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 50px);
  }

  .labels {
    bottom: 25px;
    left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 50px);
  }

  .estimation {
    top: 5px;
    right: 5px;
  }

  .creator {
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
    width: 40px;
    width: 40px;
  }

  .duedate {
    top: 25px;
    right: 5px;
  }
}
.card > * {
  position: absolute;
}

.bg-class0 {
  background: $yellow-alpha;
  &:hover {
    background: $yellow;
  }
}

.bg-class1 {
  background: $green-alpha;
  &:hover {
    background: $green;
  }
}

.bg-class2 {
  background: $blue-alpha;
  &:hover {
    background: $blue;
  }
}

.bg-class3 {
  background: $pink-alpha;
  &:hover {
    background: $pink;
  }
}

.bg-class4 {
  background: $aqua-alpha;
  &:hover {
    background: $aqua;
  }
}

@media screen and (max-height: 880px) {
  .duedate {
    display: none !important;
  }
}

@media screen and (max-height: 700px) {
  .labels {
    display: none !important;
  }
}
