<div mat-dialog-title>
  <img *ngIf="card.issuetype" [src]="card.issuetype?.iconUrl">
  {{card.key}}
</div>

<div mat-dialog-content>

  <p class="creator">
    <img [src]="card.creator.avatarUrls['48x48']">
    <span>{{card.creator.displayName}}</span>
  </p>

  <table>

    <tr>
      <td><b>Summary: </b></td>
      <td>{{card.summary}}</td>
    </tr>

    <tr>
      <td><b>Labels: </b></td>
      <td>
        <ng-container *ngFor="let label of card.labels">
          <ng-container *ngIf="row.title !== label">
            {{label}},
          </ng-container>
        </ng-container>
      </td>
    </tr>

    <tr>
      <td><b>Estimation: </b></td>
      <td>{{card.estimationText}}</td>
    </tr>

    <tr>
      <td><b>Due Date: </b></td>
      <td>{{card.dueDateText}}</td>
    </tr>

    <tr>
      <td style="vertical-align: top;"><b>Description: </b></td>
      <td>{{card.description}}</td>
    </tr>

  </table>
</div>
