b {
  opacity: 0.6;
}
.creator {
  display: flex;
  align-items: center;
}
.creator > img {
  border-radius: 50%;
  box-shadow: 0 0 3px gray;
  width: 48px;
  width: 48px;
  margin-right: 5px;
}
table td {
  padding: 4px 2px;
}
