<div class="filter" [style.width]="settingsService.totalDays  * (86400 * settingsService.secondToPixelRatio)+'px'">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Label</mat-label>
      <input matInput [(ngModel)]="filters.rowLabel" (ngModelChange)="filterData()">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a type</mat-label>
      <mat-select [(ngModel)]="filters.issueType" (ngModelChange)="filterData()">
        <mat-option value="Epic">Epic</mat-option>
        <mat-option value="Story">Story</mat-option>
        <mat-option value="Subtask">Subtask</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="zoom" [style.width]="settingsService.totalDays  * (86400 * settingsService.secondToPixelRatio)+'px'">
  <div>
    <button mat-mini-fab color="primary" (click)="zoom(settingsService.changeRatioValue)" [matTooltip]="'zoon in'">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="zoom(-settingsService.changeRatioValue)" [matTooltip]="'zoon out'"
      [disabled]="settingsService.secondToPixelRatio-settingsService.changeRatioValue<=settingsService.minRatioValue">
      <mat-icon>zoom_out</mat-icon>
    </button>
  </div>
</div>

<div class=" timeline">
  <div class="indicator" *ngFor="let day of days;let i = index"
    [style.width]="86400 * settingsService.secondToPixelRatio + 'px'"
    [style.left]="day.left * settingsService.secondToPixelRatio + 'px'">
    {{day.text}}</div>


</div>

<app-row [cards]="filteredCards" [row]="row" [height]="'40vh'" *ngFor="let row of filteredRows;let i = index"
  [index]="i">
</app-row>
