.timeline {
  position: sticky;
  height: 30px;
  top: 0;
  z-index: 300;
}
.indicator {
  display: inline-block;
  border: 1px solid gray;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  background: silver;
  height: 100%;
  box-shadow: 0 0 5px gray;
  text-shadow: 1px 1px 2px gray;
}
.filter {
  margin: 5px;
  display: inline-block;
  z-index: 300;
  .mat-form-field {
    margin-right: 10px;
    max-width: 50vw;
    box-sizing: border-box;
  }
}
.filter > div {
  position: sticky;
  left: 5px;
  display: inline-block;
}

.zoom {
  display: inline-block;
  z-index: 300;
  button {
    margin-right: 10px;
  }
  padding-bottom: 10px;
}
.zoom > div {
  position: sticky;
  left: 5px;
  display: inline-block;
}
